@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {

  html,
  body,
  #root {
    @apply h-full min-h-full m-0 p-0;
  }
}

@theme {
  --color-primary: #137fec;
  --color-primary-dashboard: #2563eb;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-display: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.bg-pattern {
  background-color: #137fec;
  background-image: radial-gradient(circle at 2px 2px, rgba(255, 255, 255, 0.15) 1px, transparent 0);
  background-size: 32px 32px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}